@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;

  --default-blue: #4D94DD;
  --default-grey: #9C9C9C;
  --blue-hover: #35679a;
  
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
